{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
<div class="module">
          <table class="table-overview" style="width:450px;height:160px">
            <caption><a href="#" class="section">Upcoming Schedule</a></caption>
           <tr style="text-align:center; color:purple;  height:30px">
               <td>Vehicle</td>
               <th style="text-align:center">Route</th>
               <th style="text-align:center">Start Time</th>
           </tr>
              {% if schedule %}
              {% for row in schedule %}
              <tr style="text-align:center">
                  <td><a href="{%  url 'vehicle_view' row.vehicle_route %}">{{ row.vehicle_route }}</a></td>
              <td>{{ row.vehicle_route.route.display_text }}</td>
              <td>{{ row.start_time }}</td>
              </tr>
              {% endfor %}
              {% else %}
                <tr>
                <th colspan="4" style="text-align:center"> <p>Sorry! &#x1F60C;</p> No upcoming schedule for today</th>
                </tr>
              {% endif %}
          </table>
    <table class="table-overview" style="width:450px;height:160px">
            <caption><a href="{% url 'complaint_index' %}" class="section">Complaint Box</a></caption>
           <tr style="color:purple; text-align:center; height:30px">
               <td>Sl</td>
               <th style="text-align:center">Date</th>
               <th style="text-align:center">Accepted</th>
               <th style="text-align:center">Status</th>
               <th style="text-align:center">Action</th>
           </tr>
              {% if complaint %}

              {% for row in complaint %}
              <tr style="text-align:center">
              <td>{{ forloop.counter }}</td>
              <td>{{ row.complaint_date.date }}</td>
                  {% if row.accepted_by %}
              <td>{{ row.accepted_by }}</td>
                  {% else %}
                  <td>None</td>
                  {% endif %}
              <td>{{ row.get_status_display }}</td>
              <td ><a href="{% url 'complaint_edit' row.id %}" ><i class="fa fa-edit" style="color: #6610f2"></i></a></td>
              </tr>
              {% endfor %}
              {% else %}
                <tr>
                <th colspan="4" style="text-align:center">
                    <p>Sorry! &#x1F60C;</p>
                    You didn't file any complaint yet
                </th>
                </tr>
              {% endif %}
          </table>
        </div>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <table class="table-overview" style="margin-left:40px;width:450px;height:160px">
            <caption><a href="{% url 'ticket_index' %}" class="section">Your Tickets</a></caption>
           <tr style="text-align:center; color:purple;  height:30px">
               <td>Ticket No.</td>
               <th style="text-align:center">Type</th>
               <th style="text-align:center">Status</th>
               <th style="text-align:center">Total</th>
               <!--<th style="text-align:center">Discount</th>-->
               <th style="text-align:center">Due</th>
               <th style="text-align:center">Action</th>
           </tr>
              {% if tickets %}
              {% for row in tickets %}
              <tr style="text-align:center">
                  <td><a href="{% url 'ticket_index' %}">{{ row.ticket_number }}</a></td>
              <td>{{ row.get_ticket_type_display }}</td>
              <td>{{ row.get_status_display }}</td>
              <td>{{ row.total_amount }}</td>
              <!--<td>{{ row.discount }}</td>-->
              <td>{{ row.due }}</td>
                  {% if row.get_status_display == 'Closed' %}
              <td><a href="{% url 'sale_invoice' row.ticket_number %}"><i class="fa fa-print" style="color: #6610f2"></i></a></td>
                  {% else %}
               <td><a href="#"><i class="fa fa-print" style="color: #6610f2"></i></a></td>
                  {% endif %}
              </tr>
              {% endfor %}
              {% else %}
                <tr>
                <th colspan="6" style="text-align:center"> <p>Sorry! &#x1F60C;</p> You didn't buy any ticket yet</th>
                </tr>
              {% endif %}
          </table>
     <table class="table-overview" style="margin-left:40px; margin-top:2px; width:450px;height:160px">
            <caption><a href="{% url 'vehicle_index' %}" class="section">Vehicle Info</a></caption>
           <tr style="text-align:center; color:purple;  height:30px">
               <td style="text-align:center">Vehicle</td>
               <th style="text-align:center">Route</th>
               <th style="text-align:center">Driver</th>
               <th style="text-align:center">Staff</th>
           </tr>
              {% if vehicle %}
              {% for row in vehicle %}
              <tr style="text-align:center">
                  <td><a href="{%  url 'vehicle_view' row.vehicle_number %}">{{ row.vehicle_number }}</a></td>
              <td>{{ row.route }}</td>
              <td>{{ row.driver }}</td>
              <td>{{ row.staff }}</td>
              </tr>
              {% endfor %}
              {% else %}
                <tr>
                <th colspan="4" style="text-align:center">
                    <p>Sorry! &#x1F60C;</p>
                    No Vehicle Information to show
                </th>
                </tr>
              {% endif %}
          </table>
</div>
{% endblock %}
