{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="container" style="margin-right:101px; margin-top:-42px;">
          <!--small cards-->
    <div class="row">
            <div class="col-md-3">
        		<div class="card">
                    <div class="card-content" style="width:280px;">
                    	<div class="card-header-blue">
                           <h3 class="card-heading" align="center">Sale</h3>
                       	</div>
                       	<div class="card-body">
                     	  <p class="card-p">
                                Hello There!

                            </p>
                     	</div>

                     	<nav class="nav-tabs">
                     		<ul class="nav nav-pills pull-left">
                                <li class="card-action"><a href="#">View More</a></li>
                            </ul>

                     	</nav>

                    </div>
                </div>
           	</div>
        <div class="col-md-3">
        	<div class="card">
                    <div class="card-content" style="width:280px">
                    	<div class="card-header-orange">
                           <h3 class="card-heading" align="center">Major Routes</h3>
                       	</div>
                       	<div class="card-body">
                     	  <p class="card-p">
                                Hi There!

                            </p>
                     	</div>
                     	<nav class="nav-tabs">
                     		<ul class="nav nav-pills pull-left">
                                <li><a class="card-action-orange" href="#">View More</a></li>
                            </ul>

                     	</nav>

                    </div>
                </div>
        </div>
        <div class="col-md-3">
        	<div class="card">
                    <div class="card-content" style="width:280px">
                    	<div class="card-header-grey">
                           <h3 class="card-heading" align="center">Complaint</h3>
                       	</div>
                       	<div class="card-body">
                     	  <p class="card-p">
                               Hi Buddy

                            </p>
                     	</div>

                     	<nav class="nav-tabs">
                     		<ul class="nav nav-pills pull-left">
                                <li ><a class="card-action-grey" href="#">View More</a></li>
                            </ul>

                     	</nav>

                    </div>
                </div>
        </div>
    </div>
    <div class="row">
          <div class="col-md-3">
        	<div class="card">
                    <div class="card-content" style="width:280px;">
                    	<div class="card-header-grey">
                           <h3 class="card-heading" align="center">Complaint</h3>
                       	</div>
                       	<div class="card-body">
                     	   <canvas id="myChart"></canvas>
                     	</div>

                     	<nav class="nav-tabs">
                     		<ul class="nav nav-pills pull-left">
                                <li ><a class="card-action-grey" href="#">View More</a></li>
                            </ul>

                     	</nav>

                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}


{% block sidebar %}
  <div id="content-related">
    <div class="module" id="recent-actions-module">

    </div>
  </div>
<!--<div class="card" >-->
  <!--<div class="card-header">-->
      <!--<p>Hello World</p>-->
  <!--</div>-->


  <!--<div class="card-container">-->
    <!--<p>This is card Body</p>-->
  <!--</div>-->
<!--</div>-->
<script type="text/javascript">
var endpoint = '../ticketing/api/ticket_data/'
$.ajax({
type: "get",
url:endpoint,
dataType: 'json',
success: function(data){
var defaultLabels=[]
var defaultData=[]
for(var i=0; i<data.length; i++)
{
defaultLabels.push(data[i].payment_date);
defaultData.push(data[i].tickets);
}
var ctx = document.getElementById('myChart');
var myChart=new Chart(ctx,{
type:'line',
data:{
labels:defaultLabels,
datasets: [{
            label: 'Date Wise Ticket Sale',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
             }],
            }

});
}
})


</script>
{% endblock %}

