{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="container" style="margin-right:101px; margin-top:-42px;">
          <!--small cards-->
    <div class="row">
            <div class="col-md-3">
        		<div class="card">
                    <div class="card-content" style="width:280px; height:134px; background:#00CED1; color:white">
                    	<div class="card-header-blue">
                           <h3 class="card-heading" align="center" style="background:#9400D3;">Current Month Sale</h3>
                       	</div>
                       	<div class="card-body">
                     	  <p class="card-p">
                               <h4 style="text-align:center; margin-top:5px;">{{ sale_amount.amount}} BDT</h4>
                            </p>
                     	</div>

                     	 <div style="text-align:center;">
                                   <a href="#" style="color:black">View More</a>
                              </div>

                    </div>
                </div>
           	</div>
        <div class="col-md-3">
        	<div class="card">
                    <div class="card-content" style="width:280px; height:134px; background:#00FF7F;color:white;">
                    	<div class="card-header-orange">
                           <h3 class="card-heading" align="center" style="background:#9400D3;">Major Routes</h3>
                       	</div>
                       	<div class="card-body">
                     	  <p class="card-p">
                            {% for row in major_routes %}
                               <h4 style="text-align:center">{{row}}</h4>
                            {% endfor %}
                            </p>
                     	</div>
                     	 <div style="text-align:center;">
                                   <a href="#" style="color:black">View More</a>
                              </div>

                    </div>
                </div>
        </div>
        <div class="col-md-3">
        	<div class="card">
                    <div class="card-content" style="width:280px; height:134px; background:#6495ED; color:white">
                    	<div class="card-header-grey">
                           <h3 class="card-heading" align="center" style="background:#9400D3;">Current Month Complaint</h3>
                       	</div>
                       	<div class="card-body">
                     	  <p class="card-p">
                               <h4 style="text-align:center;">{{ complaint.com }}</h4>
                            </p>
                     	</div>

                     	 <div style="text-align:center;">
                                   <a href="#" style="color:black">View More</a>
                              </div>

                    </div>
                </div>
        </div>
    </div>
    <div class="row">
          <div class="col-md-4">
                <div class="card">
                        <div class="card-content" style="width:375px; height:325px;background:#F0F8FF; color:white">
                            <div class="card-header-grey">
                               <h3 class="card-heading" align="center" style="background:#9400D3;">Weekly Sale Info</h3>
                            </div>
                            <div class="card-body">
                               <canvas id="ticketChart" style="height:215px; width:365px;"></canvas>
                            </div>

                             <div style="text-align:center;">
                                   <a href="#" style="color:black">View More</a>
                              </div>

                        </div>
                    </div>
          </div>
                    <div class="col-md-3">
                      <div class="card">
                            <div class="card-content" style="width:505px; height:315px; background:#87CEFA; color:white">
                                <div class="card-header-grey">
                                   <h3 class="card-heading" align="center" style="background:#9400D3;">Weekly Purchase Info</h3>
                                </div>
                                <div class="card-body">
                                   <canvas id="purchaseChart" style="height:170px; width:365px;"></canvas>
                                </div>

                              <div style="text-align:center;">
                                   <a href="#" style="color:black">View More</a>
                              </div>


                            </div>
                        </div>
         </div>
    </div>
</div>

{% endblock %}


{% block sidebar %}
  <div id="content-related">
    <div class="module" id="recent-actions-module">

    </div>
  </div>

<script type="text/javascript">
ticket_sale();
purchase_data();
</script>
{% endblock %}

