
<!--<button class="btn btn-success" data-toggle="modal" data-target="#test">Open Popup</button>-->
    <div id="passenger_wise_ticket_details" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 align="center">Passenger Wise Ticket Details</h2>
                </div>
                <div class="modal-body">
                     <form method="GET" class="post-form" action="{% url 'passenger_wise_ticket_details' %}">{% csrf_token %}


                  <div align="center" style="text-color:blue">
                   <strong style="margin-right:3px;">From:</strong> <input type="date" name="from_date" style="width:130px">
                   <strong style="margin-left:3px;">To: </strong><input type="date" name="to_date" style="width:130px;">
                </div>

                <br>
                <div align="center">
                    <input type="submit" name="submit" class="btn btn-high btn-success" style="width:127px" value="Preview">
                </div>
            </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>

    </div>
