
<!--<button class="btn btn-success" data-toggle="modal" data-target="#test">Open Popup</button>-->
    <div id="test" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p>XYZ UTMS</p>
                </div>
                <div class="modal-body">
                     <form method="GET" class="post-form" action="#">{% csrf_token %}
               {{new_form}}
                <div align="center">
                    <input type="submit" name="submit" class="btn btn-high btn-success" style="width:127px" value="Preview">
                </div>
            </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>

    </div>
